*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// BASE
// ============================================================================ */
@import "generic/reset"; // http://www.cssreset.com/scripts/eric-meyer-reset-css/

// GENERIC STYLES
// ============================================================================ */
@import "generic/mixins";
@import "generic/colors";
@import "generic/balises";
@import "generic/fontfaces";
@import "generic/images";
@import "generic/buttons";

// PARTIALS
//============================================================================ */
@import "partials/landing";
@import "partials/menu";
@import "partials/home";
@import "partials/new-board";
@import "partials/single-board";
@import "partials/login-signup";
