section.page-search {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);
}
div.main-container{
  width: 100%;
  padding-left: 200px;
  background: url('../img/background-texture.png') repeat;
  section.featured-event{
    width: 100%;
    height: 230px;
    line-height: 35px;
    background-size: cover;
    padding: 5em 0em 0em 9em;
    background: url('../img/event18.jpg');
    box-shadow: 0 3px 3px $grey;
      p {
        font-size: 1.8em;
        color: $white;
        font-weight: $light;
        text-transform: uppercase;
          strong {
            font-weight: $medium;
          }
      }
      a {
        color: $white;
        font-size: .8em;
        span {
          border-bottom: 1px solid $white;
        }
          i{
            margin-left: .7em;
            @include transition(.8s);
          }
      }
      a:hover i {
        @include transform(5px, 0);
      }
  }
  div.wrapper-home-content{
    width: 90%;
    margin: 0 auto;

    div.filters{
      margin-top: 35px;
      height: 80px;
      font-size: .8em;
      font-weight: $bold;
      a {
        float: right;
        color: $black;
        margin: 0 10px;
      }
      i {
        position: relative;
        font-size: 9px;        
        bottom: 1px;
      }
      span{
        margin: 5px;
      }
      // form{
      //   margin: 20px;
      //   input[type="text"]{
      //     @include placeholder {
      //         color: #333;
      //         font-size: .8em;
      //         font-weight: $bold;
      //     }
      //     font-size: 16px;
      //     width: 150px;
      //     text-align: right;
      //     background-color: transparent;
      //     border: none;
      //     &:focus{
      //       outline-color: #666;
      //       outline-width: 1px;
      //     }
      //   }
      // }
    }

    div.top-content{

      section{
        text-align: center;
        overflow: hidden;
        a {
          margin: 1em 0;
        }
        h2{
          text-align: left;
          padding: 10px 0px;
          border-bottom: 1px solid #333;
          text-transform: uppercase;
        }
        div.boards-container-home {
          height: 300px;
          width: 2370px;
          position: relative;
          // background-color: grey;
          margin: 2em 0 5em 0;
          right: 750px;
          a{
            color: $black;
            border-bottom: 1px solid;
          }
        }
        a.single-board-home{
          display: inline-block;
          width: 230px;
          height: 295px;
          cursor: pointer;
          margin: 0 .9em 1.5em;
          background-color: pink;
          box-shadow: -2px 2px 1px rgba(0, 0, 0, .1);
            .board-hover {
              position: absolute;
              width: 230px;
              height: 295px;
              text-align: left;
              padding: 2em 1em 0 2em;
              background-color: $yellow;
              h3 {
                line-height: 20px;
                font-weight: $medium;
                text-transform: uppercase;
              }
              p {
                font-size: .8em;
                line-height: 30px;
              }
              em {
                font-size: .8em;
                font-style: italic;
                font-weight: $light;
                padding: 3em 0 0;
                display: block;
                i {
                  font-size: .7em;
                  margin-right: .5em;
                }
              }
            }
            &:hover .board-hover {
                z-index: 2;
                opacity: .9;
                // box-shadow: -3px 3px 1px rgba(0, 0, 0, .06);
              }
            img {
              position: absolute;
              width: 230px;
              height: 295px;
            }
            div.banner {
              bottom: 0;
              z-index: 4;
              margin-left: 115px;
              margin-bottom: 20px;
              color: $white;
              position: absolute;
              background-color: $black;
              .banner-content {
                padding: .2em .5em .4em;
                display: inline-block;
                span {
                  margin: 0 .4em;
                  font-size: 14px;
                }
              }
              .flaticon-label36 {
                font-size: .7em;
              }
              .flaticon-view28 {
                margin-right: .5em;
              }
            }
        }
      }
    }
  }
}

