.landing {
	height: 100%;
	background: url('../img/landing.jpg') no-repeat center fixed;
  	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover; /* version standardisée */
  	text-align: center;
}

.content-landing {
	margin: 10em 0 0;
	overflow: hidden;
	text-transform: uppercase;
}

.subtitle {
	color: $grey;
	font-size: 1.5em;
}

.title {
	color: $white;
	font-size: 5em;
	font-weight: $thin;
}

