div.contain-form{
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  input[type=text]{
    border: none;
    background: none;
    display: block;
    font-size: 24px;
    padding: 10px 0;
    color: #666;
    &:first-child{
      font-size: 62px;
    }
    &:focus{
      outline: none;
    }
  }

  textarea{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #AAA;
    background: none;
    height: 75px;
    padding: 10px;
    color: #666;
    font-size: 24px;
  }

  input[type="file"]{
    display: block;
  }
}