div.main-container {
	section.header-profile {
	    width: 100%;
	    height: 120px;
	    line-height: 35px;
	    background-size: cover;
	    padding: 4em 0em 0em 8em;
	    background: url('../img/event18.jpg');
	    box-shadow: 0 3px 3px $grey;

	    div.name {
	    	margin-left: 120px;
	    	color: white;
	    	font-size: 24px;
	    }

		img {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 45px;
			box-shadow: 0 0 5px 5px $black;
			-moz-box-shadow: 0 0 5px 5px $black;
			-webkit-box-shadow: 0 0 5px 5px $black;
			-o-box-shadow: 0 0 5px 5px $black;
			@include border-radius(50%);
		}
	}

	div.wrapper-home-content {
		div.top-content {
			div.selection {
				text-align: center;

				span {
					padding-right: 20px;
					padding-left: 20px;
					font-size: 1.8em;
					cursor: pointer;

					em {
						font-style: italic;
						color: $black;
						font-size: 20px;
					}
				}

				.color {
					color: $blue;
				}

				.portfolio {
					border-right: 1px solid $black;
				}
			}

			div.separation {
				width: 80%;
				margin: auto;
				height: 1px;
				background-color: $black;
				margin-top: 45px;;
			}

			section.most-liked {
				div.boards-container-profile {
					width: 90%;
					margin: 30px auto;

					a.single-board-home {
						display: none;
					}

					a.displayAdded {
						display: inline-block;
					}

					a.displayLiked {
						display: inline-block;
					}

				}
			}

			section.settings {
				div.container-settings {
					width: 90%;
					margin: 30px auto;

					div.container-settings-bottom {
						width: 90%;
						margin-left: 16px;
						margin-top: 60px;

						section.bottom {
							display: inline-block;
							width: 28%;
						}
					}

					div.container-about-bottom {
						width: 100%;
						margin-top: 30px;
						section.about {
							display: inline-flex;
							label {
								padding: 20px;
								a {
									text-decoration: none;
								}

							}
						}
					}

					div.btn-upload-settings {
						width: 220px;
						margin-left: 107px;

						span {
							display: initial;
							font-weight: 300;
							text-transform: uppercase;
							color: #00b3c6;
							text-align: center;
							border: 2px solid #00b3c6;
							padding: 10px 20px 10px 20px;
						}

						input {
							width: 218px;
							height: 42px;
							position: relative;
							top: 30px;
							opacity: 0;
						}
					}

					.settings-content {
						float: left;
						width: 46%;	

						span {
						color: $blue;
						}

						input {
							width: 400px;
						}

						div.information {
							display: none;	
						}

						section.content {
							padding-top: 20px;

							label {
								display: block;
								text-align: left;
								margin-left: 107px;

								span {
									font-size: 20px;
								}
							}	

							input {
								font-size: 24px;
								height: 30px;
								@include defaultInput;
							}

							div {
								font-size: 14px;
								height: 30px;
								text-align: left;
								margin-left: 107px;
								margin-top: 10px;
							}
						}
						
						section.bottom {
							label {
								display: block;
								text-align: left;
								position: absolute;
								margin-top: 5px;

								i {
									font-size: 20px;
								}
							}

							input {
								background: transparent;
								border: 0;
								margin-left: 20px;
								height: 30px;
								font-size: 24px;
								width: 315px;
								@include defaultInput;
							}

							div.social {
								width: 100%;
								height: 1px;
								background-color: $black;
							}
						}
													
					}

				}

			}
			div.btn--submit-form {
			    overflow: hidden;
			    float: right;
			    cursor:pointer;
			    text-align: center;
			    margin-right: 214px;
			    box-shadow: 1px 1px rgba($blue-light, .4);
			    background-color: $blue-light;

			    @include border-radius(5px);
			    @include transition(.2s);

			    input[type="submit"] {
			      float: left;
			      border: none;
			      width: 120px;
			      cursor:pointer;
			      line-height: 25px;
			      font-weight: $bold;
			      background-color: $blue;
			      text-transform: uppercase;
			    }
			    span {
			      @include span-hover(150px, 30px, 150px, 30px);
			    }
			    &:hover span {
			      display: block;
			    }
			    .flaticon-right11 {
			      float: left;
			      width: 30px;
			      font-size: 10px;
			      background-color: $blue-light;
			      margin-top: 10px;
			    }
			    &:hover{
			        @include transform(0, 1px);
			    }
			  }
		}
	}
}
