section.container-single-board{
  width: 100%;
  padding-left: 200px;
  overflow: hidden;

  div.content-single-board{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 50px;
    color: $grey-dark;

    h1{
      font-weight: $bold;
      font-size: 48px;
      color: $black;
      margin-bottom: 15px;
    }

    .tags{
      margin: 20px 0 40px;
      span{
        color:$blue;
      }
    }
    .top-informations{
        // position: fixed;
      .banner{
        color: $white;
        width: 100%;
        position: relative;
        padding: 15px 50px;
        background-color: $black;
        box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.3);

        .likes-number {
          font-weight: $light;
          margin-right: 30px;
          i{
            margin-right: 10px;
          }
        }
        .comments-number {
          @extend .likes-number;
        }
        .flaticon-label36, .flaticon-comment21, .flaticon-facebook51, .flaticon-twitter44{
          font-size: 16px;
        }
        .social-share {
          float: right;
          .flaticon-facebook51{
            margin-right: 10px;
          }
        }
      }
      .likes{
          display: block;
          margin: 0 auto;
          width: calc(50% - 55px);
          text-align: center;
          .minus, .plus {
            position: relative;
            z-index: 1;
            cursor: pointer;
            font-size: 16px;
            color: #fff;
            top: 34px;
          }
          span{
            margin-right: 20px;
          }
        }
        .banner:before, .banner:after{
            content: '';
            position: absolute;
            bottom: -18px;
            width: 0;
            height: 0;
            border: 9px solid;
            @media screen and (max-width: 1000px) {
              bottom: -14px;
              border: 7px solid $black;
          }
        }
        .banner:before{
          border-color: $black transparent transparent $black;
          right: 0;
        }
        .banner:after{
          left: 0;
          border-color: $black $black transparent transparent;
        }
    }

    .single-strip{
      padding: 20px;
      width: 96%;
      margin: 0 auto;
      margin-bottom: 30px;
      background-color: #e1e1e1;
      div.content-description{
        color: $black;
        font-size: 12px;
        margin: 0 20px;
        line-height: 14px;
        text-align: center;
        font-weight: $light;
        padding: 55px 0 45px;
      }
      .container-imgs{
        text-align: center;
        position: relative;
        i{
          left:0;
          z-index: 100;
          color: $white;
          padding: 10px;
          cursor: pointer;
          position: absolute;
          background-color: rgba($black, .6);
          @include transition(.3s);

          &:hover {
            background-color: $black;
          }
        }
        img{
          max-width: 100%;
          margin: 20px auto;
        }
      }
      .post-comments{
        h3{
          font-size: 18px;
          line-height: 20px;
          padding: 40px 0 10px;
          color: $black;
          font-weight: $bold;
          letter-spacing: .5px;
        }
        form{
          textarea{
            width: 100%;
            padding: 10px;
            height: 85px;
            border: 1px solid $grey-dark;
            background-color: transparent;

            @include placeholder {
              color: $grey-dark;
              font-style: italic;
            }
          }
          em{
            font-size: 12px;
            font-weight: $light;
            float: right;
            line-height: 20px;
          }
          .btn-cta{
            border: none;
            width: 170px;
            margin: 20px 0 30px;
            letter-spacing: 1px;
            color: $black-light;
            background-color: $yellow;
          }
        }
      }
      .display-comments{
        h4{
          color: $blue;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 1px;
          border-bottom: 1px solid $grey;
        }
        img{
          width: 40px;
          height: 40px;
          float: left;
          margin: 15px 10px;
          border: 1px solid $black;
          @include border-radius(50%);
        }
        .single-comment{
          width: 100%;
          color: $black;
          padding: 20px 0 10px 60px;
          border-bottom: 1px solid $grey;
          .author-comment{
            color: $black;
            font-size: 16px;
            font-weight: $medium;
          }
          .content-comment{
            font-size: 15px;
            margin: 15px 0 10px;
            font-weight: $light;
          }
          .date-comment{
            font-size: 10px;
            font-weight: $thin;
          }
          .single-comment:first-child{
            border-top: 1px solid $grey;
          }
        }
      }
    }
  }
}