<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Contestsc</title>
  <meta name="description" content="">
  <base href="<?php echo $BASE; ?>/" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./dist/assets/css/comingsoon.css">
</head>

<body>
	<h2>Don't go too fast!</h2>
    <h1>COMING SOON</h1>
    <p><a href="home">Go Home</a></p>
</body>

</html>