body, html {
	width: 100%;
	height: 100%;
	// overflow: hidden;
	color: $black;
	font-size: 1em;
	background-color: $grey-light;
	-webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    .container {
    	height: 100%;
    	padding: .5em;
    }

	a {
		text-decoration: none;
	}
}


