.btn-members {
	display: block;
	margin: 25px auto;
	font-size: 1.2em;
	font-weight: $medium;
	border: 1px solid rgba(0, 0, 0, .2);
	width: 100%;
	max-width: 500px;
	color: $black;
	overflow: hidden;
		@media screen and (max-width: 480px) {
	    	max-width: 320px;
	    	font-size: .8em;
	  	}
	span {
		@include span-hover(500px, 60px, 320px, 55px);
	}
	&:hover span {
		display: block;
	}

	.btn-members--content {
		width: 75%;
		float: left;
		padding: 20px 0;
		background-color: $yellow;
		border-right: 1px solid rgba(0, 0, 0, .05);
	}
	.btn-members--nbr {
		background-color: $yellow-light;
		float: left;
		padding: 20px 0;
		width: 25%;
		letter-spacing: 2px;
	}
}


/* Start button with hover animation */
.btn-start {
    width: 100%;
    max-width: 210px;
    margin: 40px auto;
    a {
	    float: left;
	    font-weight: $medium;
	    line-height: 56px;
	    color: $yellow;
	    border: 2px solid rgba(245, 231, 116, .4);
	    width: 210px;
	    @include transition(.5s);
	    @media screen and (max-width: 480px) {
		    line-height: 46px;
		    width: 180px;
		}

		&:hover{
		    background: rgba(0,0,0,0);
		    color: $black;
		}
    }
	.ease {
	    background: $yellow;
	    width: 0;
	    height: 60px;
	    @include transition(.4s);
	    @media screen and (max-width: 480px) {
		    height: 50px;
		}
	}
	&:hover .ease {
	    background: $yellow;
	    border: 0;
	    width: 210px;
	    @media screen and (max-width: 480px) {
		    width: 180px;
		}
	}
	@media screen and (max-width: 480px) {
	    font-size: .8em;
	}
}



.btn-cta {
	display: block;
	overflow: hidden;
	margin-top: 30px;
	line-height: 27px;
	text-align: center;
	font-weight: $bold;
	box-shadow: 1px 1px $yellow-dark;
	text-transform: uppercase;
	@include border-radius(5px);
	@include transition(.2s);
	a {
		color: $black;
	}

	span {
		@include span-hover(150px, 27px, 150px, 27px);
	}
	&:hover span {
		display: block;
	}

	strong {
		font-size: 12px;
		float: left;
		width: 120px;
		background-color: $yellow;
	}
	i {
		float: left;
		width: 30px;
		font-size: 10px;
		background-color: $yellow-light;
	}
	&:hover{
  		@include transform(0, 1px);
	}
}


.btn-little {
	font-size: .8em;
	span {
	  border-bottom: 1px solid $white;
	}
	i {
		margin-left: .7em;
	    @include transition(.8s);
	}
	&:hover i {
	  margin-left: 15px;
	}
}


// LOGIN - SIGNUP
.btn-login-signup {
	margin: 30px 0 15px;

	li{
		display: inline-block;
		font-weight: 400;
		a{
			display: block;
			line-height: 18px;
			border: 2px solid $white;
			@include transition(.3s);
			&:hover {
				color: $black;
				background-color: $grey-light;
			}
		}
	}
	input {
		font-size: 1em;
		background-color: $yellow;
		border: 2px solid $white;
		cursor: pointer;
	}
}

.login {
	.btn-login-signup {
		li{
			a{
				border-left: none;
				padding: 10px 40px;
			}
		}
			li:first-child {
				span {
					@include span-hover(140px, 40px, 140px, 40px);
				}
				&:hover span {
					cursor: pointer;
					display: block;
				}
			}
		input {
			padding: 10px 45px;
			margin-right: -5px;
		}
	}
}
.signup {
	.btn-login-signup {
		li{
			a{
				border-right: none;
				padding: 10px 47px;
				margin-right: -4px;
			}
		}
		li:nth-child(2){
			span {
				@include span-hover(140px, 40px, 140px, 40px);
			}
			&:hover span {
				cursor: pointer;
				display: block;
			}
			input {
				padding: 10px 38px;
			}
		}
	}
}