.btn-members {
	display: block;
	margin: 1.5em auto;
	font-size: 1.2em;
	font-weight: $medium;
	border: 1px solid rgba(0, 0, 0, .2);
	// width: 50%;
	width: 485px;
	color: $black;
	overflow: hidden;
		@media screen and (max-width: 480px) {
	    	width: 90%;
	    	font-size: .8em;
	  	} 

	.btn-members--content {
		background-color: $yellow;
		float: left;
		padding: .9em;
		// width: 50%;
		width: 325px;
		border-right: 1px solid #ebde6f;
			@media screen and (max-width: 480px) {
	    		width: 60%;
	  		} 
		
	}
	.btn-members--nbr {
		background-color: $yellow-light;
		float: left;
		padding: .9em;
		// width: 10%;
		width: 89px;
			@media screen and (max-width: 480px) {
	    		width: 20%;
	  		} 
	}
}

.btn-start {
	display: block;
	width: 190px;
	color: $yellow;
	padding: 1em;
	margin: 0 auto;
	font-weight: $medium;
	border: 1px solid rgba(245, 231, 116, .4);

		@media screen and (max-width: 480px) {
	    	width: 60%;
	  } 
}


.btn-cta {
	color: $black;
	font-size: .8em;
	font-weight: $bold;
	padding: .5em 3em;
	text-transform: uppercase;
	background-color: $yellow;
	@include border-radius(10px);
	// @include border-radius(5px 0 0 5px);
}


