@font-face {
    font-family: 'Mission-script';
    src: url('../fonts/mission-script-webfont.eot');
    src: url('../fonts/mission-script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mission-script-webfont.woff') format('woff'),
         url('../fonts/mission-script-webfont.ttf') format('truetype'),
         url('../fonts/mission-script-webfont.svg#mission-script') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
         url("../fonts/flaticon.woff") format("woff"),
         url("../fonts/flaticon.ttf") format("truetype"),
         url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: 'Mission-script';
    font-size: 6em;
    color: $yellow;
    padding-top: 5%;
    text-shadow: 0 -2px $yellow-dark;
    @media screen and (max-width: 480px) {
        font-size: 5em;
    }
}


// TYPOGRAPHY
//============================================================================ */
$thin : 100;
$light : 300;
$normal : 400;
$medium : 500;
$bold: 700;
$ultra-bold : 900;


// FLATICON
//============================================================================ */

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}.flaticon-add13:before {
    content: "\e000";
}
.flaticon-arrows115:before {
    content: "\e001";
}
.flaticon-bin9:before {
    content: "\e002";
}
.flaticon-bulb19:before {
    content: "\e003";
}
.flaticon-cancel22:before {
    content: "\e004";
}
.flaticon-caution7:before {
    content: "\e005";
}
.flaticon-cloud334:before {
    content: "\e006";
}
.flaticon-comment21:before {
    content: "\e007";
}
.flaticon-cropping4:before {
    content: "\e008";
}
.flaticon-done1:before {
    content: "\e009";
}
.flaticon-dont2:before {
    content: "\e00a";
}
.flaticon-envelope54:before {
    content: "\e00b";
}
.flaticon-facebook51:before {
    content: "\e00c";
}
.flaticon-flag86:before {
    content: "\e00d";
}
.flaticon-information32:before {
    content: "\e00e";
}
.flaticon-label36:before {
    content: "\e00f";
}
.flaticon-left15:before {
    content: "\e010";
}
.flaticon-like29:before {
    content: "\e011";
}
.flaticon-list91:before {
    content: "\e012";
}
.flaticon-logout11:before {
    content: "\e013";
}
.flaticon-magnifier52:before {
    content: "\e014";
}
.flaticon-menu19:before {
    content: "\e015";
}
.flaticon-message30:before {
    content: "\e016";
}
.flaticon-pencil124:before {
    content: "\e017";
}
.flaticon-photo74:before {
    content: "\e018";
}
.flaticon-pin60:before {
    content: "\e019";
}
.flaticon-plus3:before {
    content: "\e01a";
}
.flaticon-right11:before {
    content: "\e01b";
}
.flaticon-screwdriver26:before {
    content: "\e01c";
}
.flaticon-share16:before {
    content: "\e01d";
}
.flaticon-telephone106:before {
    content: "\e01e";
}
.flaticon-twitter44:before {
    content: "\e01f";
}
.flaticon-user148:before {
    content: "\e020";
}
.flaticon-view28:before {
    content: "\e021";
}
.flaticon-wand2:before {
    content: "\e022";
}
.flaticon-social123:before {
    content: "\e01e";
}
