@mixin transition($seconds) {
	-webkit-transition: all ease-in-out $seconds;
	-moz-transition: all ease-in-out $seconds;
	-o-transition: all ease-in-out $seconds;
	-ms-transition: all ease-in-out $seconds;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}