@mixin transition($seconds) {
	-webkit-transition: all ease-in-out $seconds;
	-moz-transition: all ease-in-out $seconds;
	-o-transition: all ease-in-out $seconds;
	-ms-transition: all ease-in-out $seconds;
	transition: all ease-in-out $seconds;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin a-menu($opacity) {
	opacity: $opacity;
		&:hover {
			opacity: 1;
		}
}

@mixin span-hover($width, $height, $width-media, $height-media) {
	position: absolute;
	display: none;
	width: $width;
	height: $height;
	background-color: rgba(0, 0, 0, .05);

	@media screen and (max-width: 480px) {
    	max-width: $width-media;
    	height: $height-media;
  	}
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transform($width, $height) {
	transform: translate($width, $height);
  	-webkit-transform: translate($width, $height);
	-moz-transform: translate($width, $height);
	-o-transform: translate($width, $height);
	-ms-transform: translate($width, $height);
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin background-size($arg) {
  	-webkit-background-size: $arg; /* pour Chrome et Safari */
  	-moz-background-size: $arg; /* pour Firefox */
  	-o-background-size: $arg; /* pour Opera */
  	background-size: $arg; /* version standardisée */
}

@mixin defaultInput {
	resize:none;
	overflow: auto;
	outline: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
}


